body, a, p a {
  font-family: 'Verdana';
  background-color: #eee;
  background-size: cover;
  background-attachment: fixed;
  color: #24292e;
}

.corps {
  width: 60%;
  display: table;
  margin: auto;
  background-color: #fbfbfc;
  padding: 10px;
  border-radius: 10px;
}

nav {
  width: 45%;
  margin: auto;
  margin-bottom: 2%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #24292e;
    text-align: center;
    border-radius: 10px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: initial;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

footer {
  top: 100%;
  clear: both;
  font-size: 12px;
  bottom: 0;
}

footer a {
  background-color: #fbfbfc;
}