@import url("fonts.css");

body, a, p a {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  background-size: cover;
  background-attachment: fixed;
  color: #24292e;
}

.banner {
	display: block;
	margin: 1% auto 1.5%;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	margin-top: 0;
}

table, th, tr, td {
	border: 1px solid #24292e;
	border-collapse: collapse;
	padding: 10px;
}

table {
	margin: 10px;
}

.corps {
  width: 60%;
  display: table;
  margin: auto;
  background-color: #fbfbfc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0px 19px 3px rgba(0, 0, 0, 0.1);
}

td.fixed_row, th.fixed_row {
	width: 20%;
}

nav {
  width: 60%;
  margin: 0 auto 2% auto;
  top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #24292e;
    text-align: center;
    border-radius: 10px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: initial;
    text-decoration: none;
    color: #fbfbfc;
    //font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

footer {
  top: 100%;
  margin-top: 20px;
  clear: both;
  font-size: 12px;
  bottom: 0;
}

footer a {
  background-color: #fbfbfc;
}