body, article a, p a {
  font-family: 'Verdana';
  //background-image: url("../images/background.jpg");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff !important;
}

nav {
  width: 45%;
  margin: auto;
  margin-bottom: 2%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 10px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

section {
  float: left;
  padding-left: 1%;
}

aside {
  float: right;
  padding-right: 1%;
}

figure img {
  border-radius: 20px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

footer {
  top: 100%;
  clear: both;
  font-size: 12px;
  bottom: 0;
}

table, td, th {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}

.liltab td {
  padding: 3px;
  min-width: 100%;
}

.liltab {
  min-width: 100%;
}

.rightMenu {
  border-radius: 10px;
  margin-right: 10px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  position: fixed;
  clear: both;
  right: 0px;
}

.rightMenu a {
  color: #fff;
}